name: Changelog Generator

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - closed

jobs:
  generate-changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Ruby
        run: sudo apt-get install ruby-full

      - name: Install GitHub Changelog Generator
        run: gem install github_changelog_generator

      - name: Generate changelog
        run: github_changelog_generator --token ${{ secrets.GITHUB_TOKEN }}

      - name: Commit and push changelog
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add CHANGELOG.md
          git commit -m "Update changelog"
          git push

